<!-- script>alert('dialog.app.ChooseAvatar.html');</script -->
<md-dialog aria-label="Вибрати аватар"  ng-cloak flex="80">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Вибрати аватар</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="./content/svg/ic_close_24px.svg" aria-label="Закрити"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <!-- h2>stub content</h2 -->
                <div ng-controller="UserAvaGridCtrl as uag" flex ng-cloak class="userAvaGridTiles"> <!-- TODO: move class to attr -->
                    <md-grid-list
                            md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                            md-row-height-gt-md="1:1" md-row-height="4:3"
                            md-gutter="8px" md-gutter-gt-sm="4px" >
                        <md-grid-tile ng-repeat="tile in uag.tiles"
                                      md-rowspan="{{tile.span.row}}"
                                      md-colspan="{{tile.span.col}}"
                                      md-colspan-sm="1"
                                      md-colspan-xs="1"
                                      ng-class="tile.background"
                                      ng-click="avaSelect(tile.title)">
                                <md-icon md-svg-icon="{{tile.icon}}"></md-icon>
                                <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>
                </div>


            </div>
        </md-dialog-content>
        <!-- md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Useful
            </md-button>
        </md-dialog-actions -->
    </form>
</md-dialog>
