<!-- Major content block -->

    <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button id="main" class="menu" hide-gt-sm ng-click="corect.toggleSideNav()" aria-label="Show Side Bar">
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h3 class="md-display-1">
            <a ng-href="http://oleksiyrudenko.github.io/taxret-ngmd/src/client/" class="nodecor" target="_blank">
                Податкова декларація
            </a>
        </h3>
    </md-toolbar>

    <md-content flex id="content">
        <div ui-view></div>
    </md-content>

    <!-- bottom-sheet show-up controlled by DeclarantsController::makeContact, which uses template './persons/view/contactSheet.html' -->
