<!-- ui.router state -->
<!-- partials/declarants.html -->
<h1>Декларанти</h1>
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">

    <md-tab label="{{appct.userService.getDeclarantCurrent().nameShort}}">
        <md-icon md-svg-icon="{{appct.userService.getDeclarantCurrent().avatarid}}" class="avatar"></md-icon>
        <h2>{{appct.userService.getDeclarantCurrent().nameFull}}</h2>
        <p>{{appct.userService.getDeclarantCurrent().comment}}</p>
        <md-button class="contact" md-no-ink ng-click="appct.makeContact(appct.userService.getDeclarantCurrent())"
                   aria-label="Share with {{ appct.userService.getDeclarantCurrent().nameShort }}">
            <md-tooltip>Contact {{ appct.userService.getDeclarantCurrent().nameFull }}</md-tooltip>
            <md-icon md-svg-icon="share"></md-icon>
        </md-button>
    </md-tab>

    <md-tab label="Вибрати">
        <md-content class="md-padding">
            <md-list>
                <md-list-item ng-repeat="it in userct.users">
                    <md-button ng-click="userct.selectUser(it);" ng-class="{'selected' : it === userct.userService.getDeclarantCurrent() }">
                        <md-icon md-svg-icon="{{it.avatarid}}" class="avatar"></md-icon>
                        {{it.nameFull}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
        <!-- h3>List of State 1 Items</h3>
        <ul>
            <li ng-repeat="item in items">{{ item }}</li>
        </ul -->
    </md-tab>


    <md-tab label="Всі ФО">
        <md-content class="md-padding">
            {{userct.userService.getDeclarantCurrent()}}
        </md-content>
    </md-tab>

</md-tabs>
<!-- a ui-sref="declarants.list">Show List</a -->
<!-- div ui-view></div -->