<!-- div ng-controller="DeclarantsController as declarantct" -->
    HEY!
<span>
    <md-tooltip>Змінити аватар</md-tooltip>
    <md-icon md-svg-icon="{{declarantct.dataLPSservice.declarants.getCurrent().avatarid}}" class="avatar pointed"
             ng-click="declarantct.dialog.ChooseAvatarDialog($event,'{{declarantct.dataLPSservice.declarants.getCurrent().avatarid}}')">
    </md-icon>
</span>

<span class="name">{{declarantct.dataLPSservice.declarants.getCurrent().nameFull()}}</span>
<span void--class="name">/ {{declarantct.dataLPSservice.declarants.getCurrent().nameShort()}}
            / {{declarantct.dataLPSservice.declarants.getCurrent().nameLastInitials()}}</span>

<!-- md-button class="contact" md-no-ink ng-click="declarantct.makeContact(declarantct.dataLPSservice.declarants.getCurrent())"
           aria-label="Поділитись з {{ declarantct.dataLPSservice.declarants.getCurrent().nameShort()}}">
    <md-tooltip>Зв'язатись з: {{declarantct.dataLPSservice.declarants.getCurrent().nameFull()}}</md-tooltip>
    <md-icon md-svg-icon="share"></md-icon>
</md-button -->

<!-- div>{{vm.dialog.status}} // from DeclarantsController::ChooseAvatarDialog</div -->

<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <form name="DeclarantCurrProfileEdit">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Прізвище</label>
                    <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().nameLast">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Ім'я</label>
                    <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().nameFirst">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>По батькові</label>
                    <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().namePat">
                </md-input-container>
                <!-- md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox ng-model="declarantct.dataLPSservice.declarants.getCurrent().isUAresident" aria-label="Resides in Ukraine">
                        Резидент України <!-- {{declarantct.dataLPSservice.declarants.getCurrent().isUAresident}} - ->
                    </md-checkbox>
                </md-input-container -->
                <!-- /div>

                <div layout-gt-sm="row" -->
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Паспорт (серія та номер)</label>
                    <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().passportNr">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Ідентифікаційний код (Україна)</label>
                    <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().idUAtaxCode">
                </md-input-container>
                <!-- md-input-container class="md-block" flex-gt-sm>
                    <label>Замінник ідентифікаційного коду</label>
                    <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().idCodeSubst">
                </md-input-container -->
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Номер телефону</label>
                    <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().telNr">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Електронна пошта</label>
                    <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().email">
                </md-input-container>
            </div>

            <!-- md-input-container class="md-block" flex-gt-sm>
                <label>Аватар</label>
                <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().avatarid">
            </md-input-container -->

            <md-input-container class="md-block" flex-gt-sm>
                <label>Коментар для адміністратора</label>
                        <textarea ng-model="declarantct.dataLPSservice.declarants.getCurrent().comment"
                                  md-maxlength="150" rows="5" md-select-on-focus>
                            </textarea>
            </md-input-container>

            <md-content void--md-theme="form-shaded" class="md-accent" void--layout-padding>
                <h3>Адреса</h3>
                <div layout-gt-sm="row">
                    <!-- md-input-container class="md-block" flex-gt-sm>
                        <label>країна</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrCountry">
                    </md-input-container -->
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>поштовий індекс</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrPO">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>область/Київ/Севастополь</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrRegion">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>район в області</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrDistrict">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>населений пункт</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrCity">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>назва податкової інспекції</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrCityDistrict">
                    </md-input-container>
                    <!-- /div>

                    <div layout-gt-sm="row" -->
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>вулиця, провулок, проспект...</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrStreet">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>номер будинку</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrBuilding">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>корпус</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrSubBuilding">
                    </md-input-container>
                    <div layout-gt-sm="column">
                        <md-input-container class="md-block" flex-gt-sm>
                            <md-radio-group
                                    ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrAptType"
                                    class="md-primary">
                                <div ng-repeat="(key,d) in declarantct.dataLPSservice.enums.ePersonAptType.properties">
                                    <md-radio-button
                                            ng-value="key">
                                        <!-- ng-class="{'md-align-top-left': $index==1}" >
                                       <!-- ng-disabled=" d.isDisabled " -->
                                        {{d.descr}}
                                    </md-radio-button>
                                </div>
                            </md-radio-group>
                        </md-input-container>
                    </div>
                    <!-- md-input-container class="md-block" flex-gt-sm>
                        <label>Адреса: тип помешкання</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrAptType">
                    </md-input-container -->
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>номер помешкання</label>
                        <input ng-model="declarantct.dataLPSservice.declarants.getCurrent().addrApt">
                    </md-input-container>
                </div>
            </md-content>

        </form>
    </md-content>
</div>

<!-- /div -->