<!-- ui.router state -->
<!-- persons/view/declarants.html -->
<div id="popupContainer">
<h1>Декларанти</h1>
<md-tabs md-dynamic-height md-border-bottom md-selected="declarantct.UItab.Selected">

    <md-tab label="{{declarantct.dataLPSservice.declarants.getCurrent().nameShort()}}"
            ui-sref="declarants.editCurrent">
        <div ui-view="editCurrent"></div>
    </md-tab>

    <md-tab label="Вибрати" ui-sref="declarants.selectAnother">
        <div ui-view="selectAnother"></div>
    </md-tab>

    <md-tab label="Всі ФО" ui-sref="declarants.selectFromOther">
        <div ui-view="selectFromOther"></div>
    </md-tab>

</md-tabs>
<!-- a ui-sref="declarants.list">Show List</a -->
<!-- div ui-view></div -->
</div>