<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Податкова декларація</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

    <!-- local dev fw/lib scripts/stylesheets references -->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>

    <!-- remote production fw/lib scripts/stylesheets references >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.min.css"/ -->


    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="taxretApp" layout="row" ng-controller="AppController as appct" ng-cloak >

  <!-- A. Sidenav. Menu-button if port width > 960px (gt-sm) -->
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="appct.toggleList()" aria-label="Show User List"
      md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h3>Users</h3>
    </md-toolbar>

      <md-list>
          <md-list-item ng-repeat="state in appct.states">
              <md-button ui-sref="{{state.sref}}" void--ng-class="{'selected' : $state.current.url === '/' + state.sref }">
                  <!-- a ui-sref="{{state.sref}}" -->{{state.title}}<!-- /a -->
              </md-button>
          </md-list-item>
      </md-list>

    <md-list>
      <md-list-item ng-repeat="it in appct.users">
          <md-button ng-click="appct.selectUser(it)" ng-class="{'selected' : it === appct.selected }">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
            {{it.name}}
          </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>


  <!-- A. Major content block -->
  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button id="main" class="menu" hide-gt-sm ng-click="appct.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h3>Angular Material - Starter App</h3>
    </md-toolbar>

    <md-content flex id="content">
        <div ui-view></div>
        <md-icon md-svg-icon="{{appct.selected.avatar}}" class="avatar"></md-icon>
        <h2>{{appct.selected.name}}</h2>
        <p>{{appct.selected.content}}</p>

        <md-button class="contact" md-no-ink ng-click="appct.makeContact(appct.selected)" aria-label="Share with {{ appct.selected.name }}">
          <md-tooltip>Contact {{ appct.selected.name }}</md-tooltip>
          <md-icon md-svg-icon="share"></md-icon>
        </md-button>
      </md-content>

      <!-- bottom-sheet show-up controlled by UserController::makeContact, which uses template './src/users/view/contactSheet.html' -->
  </div>

  <!-- local dev fw/lib scripts references -->
  <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="../node_modules/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
  <!-- NOT AVAILABLE script type="text/javascript" src="../node_modules/angular-ui-router/release/angular-ui-router.js"></script -->

  <!-- remote production fw/lib scripts references >
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-animate.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-aria.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.min.js"></script -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

  <script src="./src/app/AppModule.js"></script>
  <script src="./src/app/AppController.js"></script>
  <script src="./src/app/AppService.js"></script>
  <script src="./src/users/Users.js"></script>
  <script src="./src/users/UserController.js"></script>
  <script src="./src/users/UserService.js"></script>

  <script type="text/javascript">

          angular
              .module('taxretApp', ['ngMaterial', 'ui.router', 'app', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('yellow')
                          .accentPalette('amber')
                          .warnPalette('red');
              })
              .config(function($stateProvider, $urlRouterProvider) {
                      //
                      // For any unmatched url, redirect to /state1
                      $urlRouterProvider.otherwise("/payroll");
                      //
                      // Now set up the states
                      $stateProvider
                              .state('payroll', {
                                  url: "/payroll",
                                  templateUrl: "partials/payroll.html"
                              })
                              /* .state('state1.list', {
                                  url: "/list",
                                  templateUrl: "partials/state1.list.html",
                                  controller: function($scope) {
                                      $scope.items = ["A", "List", "Of", "Items"];
                                  }
                              }) */
                              .state('transport', {
                                  url: "/transport",
                                  templateUrl: "partials/transport.html"
                              })
                              .state('realestate', {
                                  url: "/realestate",
                                  templateUrl: "partials/realestate.html"
                              })
                              .state('funds', {
                                  url: "/funds",
                                  templateUrl: "partials/funds.html"
                              })
                              .state('foreignfee', {
                                  url: "/foreignfee",
                                  templateUrl: "partials/foreignfee.html"
                              })
                              .state('entrepreneur', {
                                  url: "/entrepreneur",
                                  templateUrl: "partials/entrepreneur.html"
                              })
                              .state('expenseexempt', {
                                  url: "/expenseexempt",
                                  templateUrl: "partials/expenseexempt.html"
                              })
              });

    </script>

  </body>
</html>
