<!-- ui.router state -->
<!-- workflowMain/personalIncome/payroll.html -->
<h1>Доходи фізичної особи</h1>
<hr/>
<md-content layout="column" flex ng-controller="PersonalIncomeController as picct">
    <!-- md-card>
        <div layout="row" layout-wrap class="checkboxes">
            <md-checkbox ng-model="options.rowSelection">Row Selection</md-checkbox>
            <md-checkbox ng-model="options.multiSelect">Multiple Selection</md-checkbox>
            <md-checkbox ng-model="options.autoSelect">Auto Selection</md-checkbox>
            <md-checkbox ng-model="options.decapitate">Decapitate</md-checkbox>
            <md-checkbox ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>
            <md-checkbox ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>
            <md-checkbox ng-model="options.limitSelect" ng-click="toggleLimitOptions()">Pagination Limit Select</md-checkbox>
            <md-checkbox ng-model="options.pageSelect">Pagination Page Select</md-checkbox>
        </div>
    </md-card -->

    <md-card ng-include="'./app/workflowMain/personalIncome/personalIncome.list.html'"></md-card>

</md-content>

<!-- see https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-prevent-nested-ui-sref-objects-from-all-firingtriggering -->
<!-- a ui-sref="payroll.list" ng-click="$event.stopPropagation()">Show List</a>
<div ui-view></div -->