<md-toolbar class="md-table-toolbar md-default" ng-hide="picct.tbv.selected.length || picct.tbv.filter.show">
    <div class="md-toolbar-tools">
        <h2 class="md-title">Перелік довідок</h2>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="picct.tbv.filter.show = true">
            <md-icon>filter_list</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="picct.addItem($event)">
            <md-icon>local_dining</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default" ng-show="picct.tbv.filter.show && !picct.tbv.selected.length">
    <div class="md-toolbar-tools">
        <md-icon>search</md-icon>
        <form flex name="picct.tbv.filter.form">
            <input type="text" ng-model="picct.tbv.query.filter" ng-model-options="picct.tbv.filter.options" placeholder="пошук">
        </form>
        <md-button class="md-icon-button" ng-click="picct.removeFilter()">
            <md-icon>close</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate" ng-show="picct.tbv.selected.length">
    <div class="md-toolbar-tools" layout-align="space-between">
        <div>{{picct.tbv.selected.length}} елемент(и/ів) вибрано</div>
        <md-button class="md-icon-button" ng-click="picct.deleteItem($event)">
            <md-icon>delete</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table md-row-select multiple ng-model="picct.tbv.selected" md-progress="picct.promise">
        <thead md-head md-order="picct.tbv.query.order" md-on-reorder="picct.getItems">
        <tr md-row>
            <!-- ng-attr-md-*={value|undefined} should work like if undefined then md-* attr is not injected.
             However, it doesn't always work as expected at least with md-data-table lib.
             It definitely doesn't work for: ng-attr-md-numeric.
             Known issue: https://github.com/daniel-nagy/md-data-table/issues/64
            -->
            <!-- draw headers -->
            <th md-column
                ng-repeat="column in picct.tbv.columns"
                md-numeric="{{column.numeric}}">
                <span>{{column.name}}</span>
            </th>
            <!-- th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th>
            <th md-column md-numeric md-order-by="calories.value"><span>Calories</span></th>
            <th md-column md-numeric>Fat (g)</th>
            <th md-column md-numeric>Carbs (g)</th>
            <th md-column md-numeric>Protein (g)</th>
            <th md-column md-numeric>Sodium (mg)</th>
            <th md-column md-numeric>Calcium (%)</th>
            <th md-column md-numeric>Iron (%)</th -->
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="picct.itemSelected" md-select-id="name" md-auto-select ng-repeat="item in items.data">
            <td md-cell>{{item.name}}</td>
            <td md-cell>{{item.calories.value}}</td>
            <td md-cell>{{item.fat.value | number: 1}}</td>
            <td md-cell>{{item.carbs.value}}</td>
            <td md-cell>{{item.protein.value | number: 1}}</td>
            <td md-cell>{{item.sodium.value}}</td>
            <td md-cell>{{item.calcium.value}}{{item.calcium.unit}}</td>
            <td md-cell>{{item.iron.value}}{{item.iron.unit}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="picct.tbv.query.limit" md-limit-options="[5, 10, 15]" md-page="picct.tbv.query.page" md-total="{{picct.items.count}}" md-on-paginate="picct.getItems" md-page-select></md-table-pagination>