a {
  color: dodgerblue;
  text-decoration-style: dashed;
  text-decoration-color: mediumaquamarine;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}


md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

a.nodecor {
  text-decoration: none;
  color: White;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
  height:70px;;
}

md-icon.avatar {
  margin-right: 20px;
}

md-list .md-button.selected {
    color: #03a9f4;
  }

button#main {
  margin-bottom: 10px;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-list-item {
  overflow: hidden;
}

/* Primary content area */


#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}


#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

.pointed {
  cursor: pointer;
}

/* Utils */

/* Typography support coming in 0.8.0 */

.avatar {
  position:relative;
  width: 54px;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;

}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }
/* .dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.dialogdemoBasicUsage button {
  width: 200px; }
.dialogdemoBasicUsage div#status {
  color: #c60008; } */

/* .md-button:not([disabled]):hover {
  background-color: transparent;
} */

.userAvaGridTiles md-icon {
  width: 50%;
  height: 30%; }
.userAvaGridTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.userAvaGridTiles .s64 {
  font-size: 64px; }
.userAvaGridTiles .s32 {
  font-size: 48px; }
.userAvaGridTiles md-icon.fa {
  display: block;
  padding-left: 0; }
.userAvaGridTiles md-icon.s32 span {
  padding-left: 8px; }
.userAvaGridTiles md-grid-list {
  margin: 8px; }
.userAvaGridTiles .gray {
  background: #f5f5f5; }
.userAvaGridTiles .green {
  background: #b9f6ca; }
.userAvaGridTiles .yellow {
  background: #ffff8d; }
.userAvaGridTiles .blue {
  background: #84ffff; }
.userAvaGridTiles .darkBlue {
  background: #80d8ff; }
.userAvaGridTiles .deepBlue {
  background: #448aff; }
.userAvaGridTiles .purple {
  background: #b388ff; }
.userAvaGridTiles .lightPurple {
  background: #8c9eff; }
.userAvaGridTiles .red {
  background: #ff8a80; }
.userAvaGridTiles .pink {
  background: #ff80ab; }
.userAvaGridTiles md-grid-tile {
  transition: all 300ms ease-out 50ms;
  cursor: pointer;
  }
.userAvaGridTiles md-grid-tile md-icon {
  padding-bottom: 32px; }
.userAvaGridTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.userAvaGridTiles md-grid-tile-footer figcaption {
  width: 100%; }
.userAvaGridTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }